.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page {
  background-color: $bg-dark;
  display: block;
  margin: 10px 5px;
  padding: 10px 15px;
  font-size: 1.1em;

  &:hover {
    background-color: $secondary;
    color: $white;
  }

  &.active {
    background-color: $transparent;
    pointer-events: none;
  }
}
