*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

p, ul, ol {
  margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
