.top {
  position: relative;

  h1 {
    margin: 1rem 0;
  }
}

.top-img {
  width: 100%;
  height: calc(30vw + 20vh);
  max-height: 65vw;
  margin: 0;
  object-fit: cover;
}

.top-section {
  background-color: $bg-transparent;
  position: absolute;
  bottom: 0;
  width: 100%;

  &.home {
    @media #{$max-md} {
      background-color: $bg-lite;
      position: static;
    }
  }
}
