$white: #fff;
$red: #f00;
$transparent: #0000;

$primary: #fd5;
$secondary: #a80;

$bg-dark: #118;
$bg-root: #33a;
$bg-lite: #55c;
$bg-transparent: #55cc;

$border: #0002;

$max-sm: '(max-width: 699.9px)';
$max-md: '(max-width: 849.9px)';
$max-lg: '(max-width: 1049.9px)';

$min-sm: '(min-width: 700px)';
$min-md: '(min-width: 850px)';
$min-lg: '(min-width: 1050px)';
